<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ANAGRAFICA</title>
</head>
<body>
	<div th:switch="${session.noLogin}">
		<h1 th:case="${true}" th:text="${errorNoLogin}" class="errorMessage">This is the error message you get if trying to access the page while not logged in</h1>
		<div th:case="${false}" class="mainContentContainer" >
			<h2>Invite user to meeting <span th:text="${newMeeting.title}">FOOBAR</span></h2>
			<form method = "GET" action = "inviteToMeeting" >
				<div th:remove="all-but-first">
					<div th:each="selectedUser: ${selectedUsers}">
						<input type="checkbox" name="users" th:value="${selectedUser.userName}" th:checked="${selectedUser.selected}"/>
						<label th:text="${selectedUser.userName}" th:for="${selectedUser.userName}">GIOVANNI</label><br>
					</div>
					
					<input type="checkbox" name="users" value="RICCARDO" id="RICCARDO"/>
					<label for="RICCARDO" >RICCARDO</label><br>
						
					<input type="checkbox" name="users" value="FABIO" id="FABIO"/>
					<label for="FABIO">FABIO</label><br>
					
					<input type="checkbox" name="users" value="FRANCESCO" id="FRANCESCO"/>
					<label for="FRANCESCO">FRANCESCO</label><br>
					
					<input type="checkbox" name="users" value="CRISTIANA" id="CRISTIANA"/>
					<label for="CRISTIANA">CRISTIANA</label><br>
				</div>
				
				<input type="hidden" name="meetingtitle" th:value="${newMeeting.title}"/>
				<input type="hidden" name="meetingdate" th:value="${newMeeting.date}"/>
				<input type="hidden" name="meetingtime" th:value="${newMeeting.time}"/>
				<input type="hidden" name="meetingduration" th:value="${newMeeting.duration}"/>
				<input type="hidden" name="maxparticipants" th:value="${newMeeting.maxParticipants}"/>
				<input type="submit" value="crea riunione"/>
			</form>
		</div>
	</div>
</body>
</html>