<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Anagrafica</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:ref="@{css/style.css}"/>
</head>
<body>
	<div th:switch="${session.noLogin}">
		<h1 th:case="${true}" th:text="${errorNoLogin}" class="errorMessage">This is the error message you get if trying to access the page while not logged in</h1>
		
		<div th:case="${false}" class="mainContentContainer">
			<h2>Invite user to meeting: <span th:text="${newMeeting.title}" class="meetingTitle">FOOBAR</span></h2>
			
			<form method = "GET" action = "inviteToMeeting" th:if="${not #lists.isEmpty(selectedUsers)}">
				<div th:remove="all-but-first">
					<div th:each="selectedUser: ${selectedUsers}">
						<input type="checkbox" name="users" th:value="${selectedUser.id}" th:checked="${selectedUser.selected}"/>
						<label th:text="${selectedUser.userName}" th:for="${selectedUser.userName}">Giovanni</label><br>
					</div>
					
					<label for="RICCARDO">Riccardo</label><br>
					<input type="checkbox" name="users" value="RICCARDO" id="RICCARDO"/>
					
					<label for="FABIO">Fabio</label><br>
					<input type="checkbox" name="users" value="FABIO" id="FABIO"/>
					
					<label for="FRANCESCO">Francesco</label><br>
					<input type="checkbox" name="users" value="FRANCESCO" id="FRANCESCO"/>
					
					<label for="CRISTIANA">Cristiana</label><br>
					<input type="checkbox" name="users" value="CRISTIANA" id="CRISTIANA"/>
				</div>
				
				<input type="hidden" name="meetingtitle" th:value="${newMeeting.title}"/>
				<input type="hidden" name="meetingdate" th:value="${newMeeting.date}"/>
				<input type="hidden" name="meetingduration" th:value="${newMeeting.duration}"/>
				<input type="hidden" name="maxparticipants" th:value="${newMeeting.maxParticipants}"/>
				
				<input type="submit" value="crea riunione"/>
			</form>
			<div th:if="${#lists.isEmpty(selectedUsers)}" class="error">
				<p>No available guests</p>
				<a th:href="@{http://localhost:8080/GestioneRiunioni/goToHome}" href="goToHome">Back to Home</a>
			</div>
		</div>
	</div>
</body>
</html>