<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cancellazione</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:ref="@{/css/style.css}"/>
</head>
<body>
	<div th:switch="${session.noLogin}">
		<h1 th:case="${true}" th:text="${errorNoLogin}" class="errorMessage">This is the error message you get if trying to access the page while not logged in</h1>
		<div th:case="${false}" class="mainContentContainer">
			<h2 class="errorMessage">You tried to invite too many guests to the meeting for the 3rd time.</h2>
			<h3 class="errorMessage">The meeting will NOT be created.</h3>
			
			<a th:href="@{http://localhost:8080/GestioneRiunioni/home.html}" href="goToHome">Back to Home</a>
		</div>
	</div>
</body>
</html>