<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css" th:ref="@{css/style.css}"/>
</head>
<body>
	<div th:switch="${session.noLogin}">
		<h1 th:case="${true}" th:text="${errorNoLogin}" class="error">This is the error message you get if trying to access the page while not logged in</h1>
		<!-- <h1 th:text="${session.noLogin}"></h1> -->
		<div th:case="${false}" class="mainContentContainer">
			<!-- list hosted meetings -->
			<div id="hostedMeetingsContainer" th:if="${not #lists.isEmpty(hostedMeetings)}">
				<h4>Here are the meetings you hosted</h4>
				<table border ="1">
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Duration</th>
							<th>Max # of guests allowed</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="meeting : ${hostedMeetings}">
							<td th:text="${meeting.title}">foo</td>
							<td th:text="${meeting.date}">foo</td>
							<td th:text="${meeting.duration}">foo</td>
							<td th:text="${meeting.maxParticipants}">10</td>
						</tr>
						<tr>
							<td>foo</td>
							<td>foo</td>
							<td>foo</td>
							<td>15</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 th:if="${#lists.isEmpty(hostedMeetings)}">You currently have no valid meetings</h3>
			
			<!-- list meetings to attend -->
			<div id="invitationsContainer" th:if="${not #lists.isEmpty(meetingsToAttend)}">
				<h4>Here are your invitations</h4>
				<table border ="1">
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Duration</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="meeting : ${meetingsToAttend}">
							<td th:text="${meeting.title}">bar</td>
							<td th:text="${meeting.date}">bar</td>
							<td th:text="${meeting.duration}">bar</td>
						</tr>
						<tr>
							<td>bar</td>
							<td>bar</td>
							<td>bar</td>
						</tr>
					</tbody>
				</table>
			</div>
			<h3 th:if="${#lists.isEmpty(meetingsToAttend)}">You currently have no valid invitations</h3>
			
			<h4>Create a new meeting</h4>
			<form id="createMeetingForm" method="POST" action="createMeeting">
				<table>
					<tr>
						<td><label>Title</label></td>
						<td><input type="text" name="meetingTitle" required/></td>
					</tr>
					<tr>
						<td><label>Date</label></td>
						<td><input type="date" name="meetingDate" required/></td>
					</tr>
					<tr>
						<td><label>Time</label></td>
						<td><input type="time" name="meetingTime" required/></td>
					</tr>
					<tr>
						<td><label>Duration</label></td>
						<td><input type="time" name="meetingDuration" step="60" required/></td>
					</tr>
					<tr>
						<td><label>Max # of guests</label></td>
						<td><input type="number" name="maxParticipants" required/></td>
					</tr>
				</table>
				<input type="submit"/> 
			</form>
			<span th:text="${errorMsg}" class="error"> missing fields message goes here </span> <br>
			<a href="logout">LOGOUT</a>
		</div>
	</div>
</body>
</html>