<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HOME PAGE</title>
</head>
<body>
	<div th:switch="${session.noLogin}">
		<h1 th:case="${true}" th:text="${errorNoLogin}" class="errorMessage">This is the error message you get if trying to access the page while not logged in</h1>
		<!-- <h1 th:text="${session.noLogin}"></h1> -->
		<div th:case="${false}" class="mainContentContainer">
			<!-- list hosted meetings -->
			<h4>Here are the meeting you hosted</h4>
			<table border ="1">
				<thead>
					<tr>
						<th>TITLE</th>
						<th>TIME</th>
						<th>DURATION</th>
						<th>MAX PARTICIPANTS</th>
					</tr>
				</thead>
				
				<tbody th:remove="all-but-first">
					<tr>
						<td>CIAO</td>
						<td>CIAO</td>
						<td>CIAO</td>
						<td>CIAO</td>
					</tr>
					
					<tr>
						<td>BYE</td>
						<td>BYE</td>
						<td>BYE</td>
						<td>BYE</td>
					</tr>
				</tbody>
			</table>
			
			<!-- list meetings to attend -->
			<h4>Here are the meetings you have been invited to</h4>
			<table border ="1">
				<thead>
					<tr>
						<th>TITLE</th>
						<th>TIME</th>
						<th>DURATION</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr>
						<td>CIAO</td>
						<td>CIAO</td>
						<td>CIAO</td>
					</tr>
					<tr>
						<td>BYE</td>
						<td>BYE</td>
						<td>BYE</td>
					</tr>
				</tbody>
			</table>
			
			<h4>Create a new meeting</h4>
			<form id="createMeetingForm" method="post" action="createMeeting">
				Title <input type="text" name="meetingTitle"/><br>
				Date <input type="date" name="meetingDate"/><br>
				At <input type="time" name="meetingTime"/><br>
				Duration <input type="time" name="meetingDuration"/><br>
				Participants limit <input type="number" name="maxParticipants"/><br>
				<input type="submit"/> 
			</form>
			<a href="logout">LOGOUT</a>
		</div>
	</div>
</body>
</html>